@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
}

.navbar {
  align-items: center;
  background: linear-gradient(to bottom, rgb(118, 89, 141), rgb(66, 47, 77));
  display: flex;
  gap: 2%;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

nav .logo {
  width: 100px;
}

nav .title {
  color: #9f75d6;
  font-family: "DynaPuff", cursive;
  font-size: 4rem;
  line-break: auto;
}

.wodSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 50px;
}

.wodSection .btn {
  background-color: #c0a5df;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 30px;
}

.wodSection .btn:hover {
  background-color: #a68ec2;
}

.wodSection .btn:active {
  position: relative;
  top: 2px;
}

.card {
  align-items: center;
  background-color: #bbb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  width: 600px;
}

.wod-header {
  background-color: #aaa;
  border-radius: 10px 10px 0 0;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.card-body {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.info {
  background-color: rgb(192, 96, 96);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -10px;
}

.movements {
  position: relative;
  font-size: 3rem;
  top: 70px;
}